.principles-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
    }
    
    .principles {
        display: flex;  
        gap:30px;
        justify-content: center;
    }
    
    .principles-item 
    {width: 270px;}
    
    .principles-card{
        height: 120px;
        margin-bottom:30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color:var(--background-princples-color);
    }
    
    .section.our-principles{padding-bottom: 0px; }
    
    .after-title{
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;    
    }
    
    